@model List<TCC.Web.Models.EmpresaViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de Empresa";
}


<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Home">Home</a></li>
            <li>Cadastro</li>
            <li class="active">Empresa</li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="main-header">
        <h2>Cadastro de Empresas</h2>
        <span class="text-titulo">Matriz e Filiais</span>
    </div>
    <div class="main-content">
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-edit"></i>Cadastro de Empresas</h3>
            </div>
            <div class="widget-content">
                <form id="empresaForm" class="forms-elements">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" id="nomeFantasia" name="nomeFantasia" class="form-control required" placeholder="Nome Fantasia">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" id="razaoSocial" name="razaoSocial" class="form-control required" placeholder="Razão Social">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="cnpj" name="cnpj" class="form-control cnpj required" placeholder="CNPJ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="inscricaoEstadual" name="inscricaoEstadual" class="form-control" placeholder="Ins. Estadual">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" id="paginaWeb" name="paginaWeb" class="form-control" placeholder="Pagina Web">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" id="responsavel" name="responsavel" class="form-control required" placeholder="Responsável">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="cep" name="cep" class="form-control cep required" placeholder="Cep" onchange="getAddress(this.value)">
                            </div>
                        </div>
                        <div class="col-sm-4    ">
                            <div class="form-group">
                                <input type="text" id="logradouro" name="logradouro" class="form-control required" placeholder="Logradouro">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="number" id="numero" name="numero" class="form-control required" placeholder="Numero">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="bairro" name="bairro" class="form-control required" placeholder="Bairro">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control required" id="idCidade" name="idCidade">
                                    <option>Selecione...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="pais" name="pais" class="form-control required" readonly="readonly" placeholder="País">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" id="estado" name="estado" class="form-control required" readonly="readonly" placeholder="Estado">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="telefoneContato" name="telefoneContato" class="form-control phone-fixo" placeholder="Telefone Contato">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" id="ramal" name="ramal" class="form-control" placeholder="Ramal">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="telefoneCelular" name="telefoneCelular" class="form-control phone" placeholder="Telefone Celular">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnNovo" class="btn btn-default btn-cons m-b-10" type="button" style="display:none">
                                    <i class="fa fa-plus"></i> <span class="bold">Novo</span>
                                </button>
                                <button id="btnSalvar" class="btn btn-success btn-cons m-b-10" type="button">
                                    <i class="fa fa-save"></i> <span class="bold">Salvar</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="Id" name="Id" />
                </form>
                <hr class="inner-separator">
                <div class="row">
                    <div class="col-md-12">
                        <div id="panel">
                            @Html.Partial("_Table", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-content -->
</div>

@Html.Partial("_ModalDelete")


@section scripts{
    <script>
        $("body").removeClass().addClass("forms-elements");
        $("#idCidade").change(function () {
            fillAddress(this.value);
        });
    </script>
    <script src="~/assets/js/king-elements.js"></script>
    <script src="~/Scripts/Util/crud-base.js"></script>
    <script src="~/Scripts/Util/baseJs.js"></script>
    <script src="~/Scripts/Util/address.js"></script>
    <script src="~/Scripts/Cadastro/empresa.js"></script>
}

