
<div class="modal fade slide-right" id="modalDelete" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14"></i>
                </button>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="modal-body col-xs-height col-middle text-center   ">
                            <h5 class="text-complete">Deseja deletar <span class="semi-bold">este registro</span>?</h5>
                            <br>
                            <button type="button" class="btn btn-complete btn-block" data-dismiss="modal" id="confirma">Sim</button>
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Não</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>